# This Notebook will be used to complete Courseras Capstone project. 
## Than you for reading.

In [1]:
import pandas as pd
import numpy as np
import json
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim 
import requests
from pandas.io.json import json_normalize 
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
!conda install -c conda-forge folium=0.5.0 --yes 
import folium

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
filename= 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(filename) #downloading the data

In [3]:
toronto_data=df[0] #loading the table into a dataframe

In [4]:
toronto_data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [5]:
toronto_data.shape # Original table before the data wrangling

(180, 3)

In [6]:
toronto_data['Borough'].replace("Not assigned", np.nan, inplace = True) #replace all the Borough that are Not Assigned with NaN

In [7]:
toronto_data.head() #showing the results

  Postal Code           Borough              Neighbourhood
0         M1A               NaN               Not assigned
1         M2A               NaN               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [8]:
toronto_data.dropna(subset=["Borough"], axis=0, inplace=True) #dropping all the rows with NaN

In [9]:
toronto_data.shape #shows that we have dropped 77 rows

(103, 3)

In [10]:
toronto_data['Postal Code'].value_counts().max() #shows us that all the values in "Postal Code" are unique

1

In [11]:
toronto_data['Neighbourhood'].str.count('Not assigned').max() #shows there are no Neighbourhood's that have the value 'Not assigned'

0

In [12]:
toronto_data.shape #The final shape of the df

(103, 3)

In [20]:
Coordinates = pd.read_csv('http://cocl.us/Geospatial_data')

In [21]:
Coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
Coordinates.shape

(103, 3)

In [29]:
toronto_data_merge = pd.merge(toronto_data, Coordinates, on = 'Postal Code')

In [39]:
toronto_data_merge['Latitude'].unique()

array([43.7532586, 43.7258823, 43.6542599, 43.718518 , 43.6623015,
       43.6678556, 43.8066863, 43.7459058, 43.7063972, 43.6571618,
       43.709577 , 43.6509432, 43.7845351, 43.7258997, 43.6953439,
       43.6514939, 43.6937813, 43.6435152, 43.7635726, 43.6763574,
       43.6447708, 43.6890256, 43.7709921, 43.7090604, 43.6579524,
       43.669542 , 43.773136 , 43.8037622, 43.7543283, 43.7053689,
       43.6505712, 43.6690051, 43.7447342, 43.7785175, 43.7679803,
       43.685347 , 43.6408157, 43.6479267, 43.7279292, 43.7869473,
       43.7374732, 43.6795571, 43.6471768, 43.6368472, 43.7111117,
       43.7574902, 43.7390146, 43.6689985, 43.6481985, 43.7137562,
       43.7563033, 43.716316 , 43.789053 , 43.7284964, 43.6595255,
       43.7332825, 43.6911158, 43.7247659, 43.692657 , 43.7701199,
       43.7616313, 43.7280205, 43.7116948, 43.6731853, 43.706876 ,
       43.7574096, 43.7527583, 43.7127511, 43.6969476, 43.6616083,
       43.696319 , 43.7500715, 43.7827364, 43.7153834, 43.6727097,
       43.6489597, 43.6369656, 43.6889054, 43.7942003, 43.7043244,
       43.6626956, 43.6515706, 43.7816375, 43.6895743, 43.6532057,
       43.8152522, 43.6864123, 43.6289467, 43.6056466, 43.7394164,
       43.7995252, 43.6795626, 43.6464352, 43.6024137, 43.7067483,
       43.8361247, 43.667967 , 43.6484292, 43.6536536, 43.6658599,
       43.6627439, 43.6362579, 43.6288408])