# This Notebook will be used to complete Courseras Capstone project. 
## Than you for reading.

In [1]:
import pandas as pd
import numpy as np
import json
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim 
import requests
from pandas.io.json import json_normalize 
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
!conda install -c conda-forge folium=0.5.0 --yes 
import folium

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
filename= 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(filename) #downloading the data

In [3]:
toronto_data=df[0] #loading the table into a dataframe

In [4]:
toronto_data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [5]:
toronto_data.shape # Original table before the data wrangling

(180, 3)

In [6]:
toronto_data['Borough'].replace("Not assigned", np.nan, inplace = True) #replace all the Borough that are Not Assigned with NaN

In [7]:
toronto_data.head() #showing the results

  Postal Code           Borough              Neighbourhood
0         M1A               NaN               Not assigned
1         M2A               NaN               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [8]:
toronto_data.dropna(subset=["Borough"], axis=0, inplace=True) #dropping all the rows with NaN

In [9]:
toronto_data.shape #shows that we have dropped 77 rows

(103, 3)

In [10]:
toronto_data['Postal Code'].value_counts().max() #shows us that all the values in "Postal Code" are unique

1

In [11]:
toronto_data['Neighbourhood'].str.count('Not assigned').max() #shows there are no Neighbourhood's that have the value 'Not assigned'

0

In [12]:
toronto_data.shape #The final shape of the df

(103, 3)